

.app {
  padding-top: 2rem;
  background-color: #061c47;
  color: #fff;
  min-height: 100vh; 
}

.component{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.pokemonPage{
  color:#061c47;
  background-color: #cad8ffbf;
  border: pink solid 5px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.pokemonPage .btn-primary{
  --bs-btn-color:  #fd0db8;
  --bs-btn-bg: #061c47;
  --bs-btn-hover-color: #061c47;
  --bs-btn-hover-bg: #fd0db8;
}
 .table {
--bs-table-color:  white;
--bs-table-bg: rgb(0 0 0 / 8%);
--bs-table-border-color: #061c47;
}

  .btn-primary {
    --bs-btn-color:  #061c47;
    --bs-btn-bg: #fd0db8;
    --bs-btn-border-color:  #061c47;
    --bs-btn-hover-color: #fd0db8;
    --bs-btn-hover-bg: #061c47;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.todo-list ul {
  max-width: 300px;
}

.todo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.todo-is-completed .checkbox {
  color: #000;
  background: #fff;
}

.todo-is-completed input {
  text-decoration: line-through;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border: 1px solid #fff;
}

.checkbox:hover {
  background: rgba(243, 5, 211, 0.836);
  border: 1px solid rgba(255, 255, 255, 0);
}

.checkbox-checked {
  color: #000;
  background: #fff;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  width: 500px;
}

input {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}